<div class="layout-column">
  <form class="contact-form" [formGroup]="guestForm" (ngSubmit)="onSubmit()">
    <div class="layout-row align-items-center justify-content-center mt-50">
      <input
        #guestNameReference
        class="mr-30"
        type="text"
        data-test-id="name-input"
        required
        placeholder="Guest Name"
        formControlName="name"
      />
      <input
        #startDateReference
        class="mr-30"
        type="date"
        data-test-id="start-date"
        required
        placeholder="Start Date"
        formControlName="startDate"
      />
      <input
        #endDateReference
        class="mr-30"
        type="date"
        data-test-id="end-date"
        required
        placeholder="End Date"
        formControlName="endDate"
      />
    </div>
    <div class="layout-row align-items-center justify-content-center mt-50">
      <button
        data-test-id="submit-button"
        class="w-30"
        type="submit"
        [disabled]="guestForm.invalid"
      >
        Add to Menu
      </button>
    </div>
  </form>
</div>
